DB_HOST=localhost
DB_PORT=5432
DB_NAME=fuel
DB_USER=postgres
DB_PASSWORD=changeme

DB_POOL_MIN_IDLE=5
DB_POOL_MAX_SIZE=20
DB_POOL_IDLE_TIMEOUT=30000
DB_POOL_CONNECTION_TIMEOUT=30000
DB_POOL_MAX_LIFETIME=1800000

DEV_USER=dev
DEV_USER_PASSWORD=qnPSaWBWxve9O2xwPElYjLxl
